<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FinWise Back-Office</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/flowbite@1.6.5/dist/flowbite.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/layout.css}">
    <link rel="stylesheet" th:href="@{/css/global.css}">
</head>
<body class="bg-gray-100 text-gray-800">
    <!-- Layout principale -->
    <div th:fragment="layout">
        <!-- Sidebar fissa -->
        <aside class="bg-green-700 text-white p-3">
            <div class="flex justify-center mb-3  rounded overflow-hidden">
                <img class="w-48 rounded-[15px]" src="/images/logo-finwise.jpeg" alt="">

            </div>
            <nav class="space-y-2 flex flex-col items-start mt-[100px]">
                <a th:href="@{/}" class="block hover:bg-green-600 rounded px-3 py-2">Home</a>
                <a th:href="@{/bank-accounts}" class="block hover:bg-green-600 rounded px-3 py-2">Gestione dei Piani</a>
                <a th:href="@{/cards}" class="block hover:bg-green-600 rounded px-3 py-2">Gestione delle Carte</a>
            </nav>
        </aside>

        <!-- Wrapper contenuto principale -->
        <div class="main-content">
            <!-- Header fisso -->
            <header class="bg-white shadow-lg p-4">
                <h2 class="text-xl font-semibold text-green-800">Back-Office Banca</h2>
            </header>

            <!-- Contenuto scrollabile -->
            <div class="page-content" th:insert="~{::section}"></div>
        </div>
    </div>
</body>
</html>
